#navigation li {
    display: inline;
    margin: 0 ;
    padding: 4px 20px ;
    text-align: center ;
    margin-right: 1px ;
    color: #fff ;
    background: #525252;
    border: 1px solid ;
    background-color: #666666;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
    background: #900 ;
    text-decoration: underline ;
}

html{
    background-color: #222222;
}

li a{
    text-decoration: none ;
    
}

body{
    margin: 0;
}

nav{
    margin-top: 10px;
    width: 100%;
}

.titre{
    color: white;
}